.con-wrap {

    h1 {
        padding-left: 30px;
        padding-top: 50px;
    }
    .con-cont {
        width: 100%;
        display: flex;
        height: calc(100vh - 178px);
        background-image: url('../../Assets/Images/contact-us.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
    
        .con-cont-right {
            padding-top: 190px;
            width: 74ch;
            display: flex;
            flex-direction: column;
            
            justify-content: center;
    
            
    
            .text-con-us {
                padding: 20px;
                border-radius: 10px;
                margin: 20px 10px;
               
                box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
                background-color: #ffffff5c;
    
                p {
                    font-size: 20px;
                    color: #000;
                    font-weight: bold;
                    line-height: 1.5;
                }
            }
        }
    }
}



@media(max-width: 1000px) {
    .con-wrap {
        h1 {
            font-size: 20px;
        }
        .con-cont {
            padding: 0 20px;
            height: calc(100vh - 177px);
            background-size: 100% 100%;
            margin-top: 80px;

        .con-cont-right {
            width: unset;
            .text-ab-us {
                
                p {
                    font-size: 16px; 
                    
                }
            }
            .text-con-us {
                width: 100%;
                max-width: unset;
                p {
                    font-size: 16px; 
                    
                }
            }
        }
    }
    }
}

