.au-cont {
    width: 100%;
    display: flex;
    height: calc(100vh - 178px);
    background-image: url('../../Assets/Images/about-us.png');
    background-size: cover;
    .au-cont-left {
        width: 50%;

        img {
            width: 100%;
        }
    }

    .au-cont-right {
        padding: 40px 20px;
        width: 50%;
        display: flex;
        flex-direction: column;

        p {
            font-size: 20px;
            color: #ffffffc2;
            font-weight: bold;
        }
        
    }
}