.type-writter {
    display: inline-flex;
    align-items: center;
    color: #ffffff61;
    padding: 20px;
   
    &.swap {
        position: absolute;
        right: 0;
    }

    .symbol {
        display: inline-block;
        font-size: 28px;
    }

    .blink-cursor {
        height: 30px;
        border-right: 3px solid white;
        animation: blinkTextCursor linear infinite 0.8s;

    }
}

@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255, 0.75);}
    to{border-right-color: transparent;}
  }
