.cont-1-wrap {
    width: 100%;
    background-image: url('../../Assets/Images/HomePage/slide-image-2.jpg');
    height: 930px;
    background-size: cover;
    background-repeat: no-repeat;

    .with-bg {
        background-color: #706f6c7a;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        border: 1px solid #7e7e7e;
        max-width: 45ch;
        padding:10px;
        border-radius: 10px;
        margin: 20px 0;
        position: relative;
        

        &:first-child {
            top: 20px;
        }
        &.animation1 {
            animation: text1 1.5s ease-in;
        }
    
        &.animation2 {
            animation: text2 2.5s ease-in;
        }
    
        &.animation3 {
            animation: text3 3.5s ease-in;
        }

      
        p {
            font-family: "LeStudio-Medium";
            max-width: 50ch;
            color: #ffffff;
            font-size: 18px;
            line-height: 1.3;
            font-weight: 500;
            margin: 0;
            
        }
    }

    .cont-body {
        position: relative;
        width: 100%;
        height: calc(100% - 60px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 20px;
        overflow: hidden;

        .search-cont {
            margin:0 auto;
        }

        .cont-mid {
            width: 100%;
            height: auto;
        }



        .subcont-title {
            padding-left: 20px;

            h1 {
                font-family: "LeStudio-Bold";
                font-size: 30px;
                font-weight: 700;
                color: #ffffff;
                margin: 25px 0 0 0;
            }
        }

     
        
        .cont-bot {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            font-weight: 500;
            font-size: 18px;
            padding-left: 20px;
        }
    }
}

#service-cont {
    background-color: #706f6c38;
    h1 {
        margin-top: 50px;
    }

    a {
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
}

.cont {
    width: 100%; 
    box-sizing: border-box;
    background-color: #706f6c38;

     h3 {
        text-align: center;
        font-size: 30px;
        color: #6d6d6b;
        margin: 0;
    }

    &.cont-2 {
        background-image: url('../../Assets/Images/HomePage/2.jpg');
        background-size: 100%;
        height: 906px;
        background-repeat: no-repeat;
    }

    .cont-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        height: auto;
        overflow: hidden;
        position: relative;
        padding: 30px 20px;
        background-size: cover;

        &.services-items {
            
           flex-direction: column;
           align-items: center;
                
        }
    
        .cont-left {
            width: 100%;
            height: auto;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
            img {
                width: 100%;
                height: auto;
                
            }
        }
    
        .cont-right{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: all 1.5s;

            &.services-items {
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                max-width: 1100px;

            }

            &.bg-transparent {
                background-color: #febf7073;
                border-radius: 10px;
                width: auto;
                text-align: center;
            }
             
            &.is-1-visible {
                position: relative;
                top: -550px;
                left: 50px;
            }
    
            &.is-1-notVisible {
                position: relative;
                top: 190px;
                left: 50px;
            }

            



            
            .bg-transparent {
                background-color: #00afd642;
                border-radius: 10px;
                margin: 30px 0;
                max-width: 64ch;
                width: auto;
                text-align: center;
                color: #ffffffb8;
                padding: 20px;
            }
           

            p {
                max-width: 52ch;
                color: #ffffff;
                font-size: 18px;
                font-weight: 700;
                font-style: normal;
                text-align: justify;
                line-height: 1.2;
            }
        }
    }
}

.text {
    padding: 20px;
    border-radius: 10px;
    margin: 40px 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: #ffffff00;
    transition: all 1.5s;


    &.is-1-visible {
        position: relative;
        left: 0px;
    }
    &.is-2-visible {
        position: relative;
        left: 100px;
    }

    &.is-2-notVisible {
        position: relative;
        left: 9000px;
    }
    p {
        line-height: 1.5;
    }
    
    
}

.bg-transparent {
    background-color: #00afd642;
    border-radius: 10px;
    width: auto;
    text-align: center;

}




@keyframes text1 {
    0% {
        right: 510px;
    }
    100% {
        right: 0;
    }
}
@keyframes text2 {
    0% {
        right: 510px;
    }
    100% {
        right: 0;
    }
}
@keyframes text3 {
    0% {
        left: 510px;
    }
    100% {
        left: 0;
    }
}



@media (max-width: 1600px) {

}

@media (max-width: 1440px) {

}

@media (max-width: 1366px) {
    .cont {
        &.cont-2 {
            height: unset;
        }

        .cont-wrap {
            .cont-right {


                .text {
                    max-width: 43ch;

                    p {
                        font-size: 16px;
                        text-align: start;
                        max-width: unset;
                    }
                }

                .bg-transparent {
                    max-width: 50ch;
                    p {
                        font-size: 16px;
                        text-align: start;
                        
                    }    
                }
            }
        }
    }
}

@media (max-width: 1281px) {
    .cont {

        .cont-wrap {
            .cont-right { 
                &.is-1-notVisible {
                    position: relative;
                    top: 70px;
                    left: 50px;
                }   

                .text {
                    &.is-1-visible {
                        left: -20px;
                    }
                    &.is-2-visible {
                        
                        left: 60px;
                    }
                    &.is-2-notVisible {
                        left: 800px;
                    }
                }
                

                .bg-transparent {
                    max-width: 42ch;
                   
                }
            }
        }
    } 

    
}

@media (max-width: 1024px) {

}