.cont-1-wrap {
    width: 100%;

    .cont-background {
        position: relative;
        img {
            width: 100%;
        }
    }

    .cont-body {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 20px;

        .subcont-title {
            h1 {
                font-size: 30px;
                font-weight: 700;
                color: #FFFFFF;
            }
        }

        .subcont-cont {
            p {
                max-width: 50ch;
                color: #FFFFFF; 
                font-size: 18px
            }
        }
        
        .subcont-footer {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            p {
                max-width: 47ch;
                color: #FFFFFF;
                
            }
        }
    }
    
    
    .cont-1 {
        width: 100%;
        
        
        h1 {
            color: #FFFFFF;
        }

        
    }
    
}

.cont {
    width: 100%; 
    padding: 20px 40px;
    box-sizing: border-box;

    h3 {
        text-align: center;
        font-size: 30px;
        color: #000;
    }

    .cont-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    
        .cont-left {
            width: 100%;
            max-width: 900px;
            height: auto;
            border-radius: 10px;
            overflow: hidden;
    
            img {
                width: 100%;
                height: auto;
            }
    
        }
    
        .cont-right{
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                max-width: 63ch;
                color: #000;
                font-size: 22px;
                font-weight: 700;
                font-style: normal;
            }
        }
    }
}








@keyframes typewriter{
    from{width: 0%}
    to{width: 50%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255, 0.75);}
    to{border-right-color: transparent;}
  }

  