.cont-1-wrap {
    width: 100%;
    background-image: url('../../Assets/Images/HomePage/slide-image-2.jpg');
    height: 930px;
    background-size: cover;
    background-repeat: no-repeat;

    .cont-body {
        width: 100%;
        height: calc(100% - 100px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 20px;

        .search-cont {
            margin:0 auto;
        }

        .subcont-title {
            padding-left: 20px;
            h1 {
                font-size: 30px;
                font-weight: 700;
                color: #FFFFFF;
                margin: 25px 0 0 0;
            }
        }

        .subcont-cont {
            p {
                max-width: 68ch;
                color: #FFFFFF;
                font-size: 20px;
                font-weight: 500;
            }
        }
        
        .subcont-footer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            font-weight: 500;
            font-size: 20px;
            padding-left: 20px;
            p {
                color: #FFFFFF;
                &:first-child {
                    max-width: 48ch;
                }
                &:nth-child(2){
                    max-width: 60ch;
                    margin-left: 50px;
                }
            }
        }
    }
    
    .cont-1 {
        width: 100%;

        h1 {
            color: #FFFFFF;
        }
        
    }
    
}

.cont {
    width: 100%; 
    padding: 20px 40px;
    box-sizing: border-box;

    h3 {
        text-align: center;
        font-size: 30px;
        color: #FFFFFF;
    }

    .cont-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    
        .cont-left {
            width: 100%;
            max-width: 900px;
            height: auto;
            border-radius: 10px;
            overflow: hidden;
    
            img {
                width: 100%;
                height: auto;
            }
        }
    
        .cont-right{
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                max-width: 63ch;
                color: #FFFFFF;
                font-size: 22px;
                font-weight: 700;
                font-style: normal;
            }
        }
    }
}








@keyframes typewriter{
    from{width: 0%}
    to{width: 50%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255, 0.75);}
    to{border-right-color: transparent;}
  }

  