
.jc-start {
    justify-content: flex-start;
}

.jc-end {
    justify-content: flex-end;
}

.jc-end-al-center {
    justify-content: flex-end;
    align-items: center;
}

.jc-end-al-start {
    justify-content: flex-end;
    align-items: flex-start;
}

.jc-start-al-center {
    justify-content: flex-start;
    align-items: center;
}

.jc-start-al-end {
    justify-content: flex-start;
    align-items: flex-end;
}

.jc-start-al-start {
    justify-content: flex-start;
    align-items: flex-start;
}

.jc-center-al-start {
    justify-content: center;
    align-items: flex-start;
}

.jc-center-al-end {
    justify-content: center;
    align-items: flex-end;
}
