@font-face {
  font-family: 'Roboto Slab';
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./Assets/fonts/Montserrat-Bold.ttf") format("woff");;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url('./Assets/fonts/Montserrat-Regular.ttf') format("woff");
}
@font-face {
  font-family: "Montserrat-Medium" ;
  src: url("./Assets/fonts/Montserrat-Medium.ttf") format("woff");
}
@font-face {
  font-family: "LeStudio-Bold";
  src: url("./Assets/fonts/Le-Studio-h.ttf") format("woff");
}

@font-face {
  font-family: "LeStudio-Medium" ;
  src: url("./Assets/fonts/Le-Studio.ttf") format("woff");
}

body {
  margin: 0;
  font-family: 'Roboto Slab',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
  font-family: 'LeStudio-Medium', sans-serif;
  p {
    margin: 0;
  }
}
ul li {
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
