@font-face {
  font-family: 'Roboto Slab';
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
}

body {
  margin: 0;
  font-family: 'Roboto Slab',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
  font-family: 'Roboto Slab',
  sans-serif;
}
ul li {
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
